@import '../functions';
@import '../menubar';

@mixin editor-theme(
  $theme-name,
  $editor-bg,
  $editor-border-color,
  $button-text-color
) {
  .#{$theme-name} {
    position: relative;

    * {
      outline: none;
      margin: 0;
      padding: 0;
    }

    .menubar {
      @include menubar($editor-bg, $editor-border-color, $button-text-color);
    }

    .editor {
      background-color: $editor-bg;
      border-radius: 10px;
      border: 1px solid $editor-border-color;

      &__content {
        min-height: 200px;
        max-height: 450px; // change this later for finalization
        overflow: auto;
        line-height: 1.2;
        color: color-yiq($editor-bg) !important;

        a {
          color: lighten($button-text-color, 10%) !important;
        }

        img {
          height: 250px;
        }

        & pre {
          padding: 0.7rem 1rem !important;
          border-radius: 5px;
          background-color: #f7f7f7 !important;
          font-size: 0.8rem;
          overflow-x: auto;
          code {
            color: darken($button-text-color, 55%) !important;
          }
        }

        blockquote {
          border-left: 3px solid lighten($button-text-color, 40%);
          color: lighten($button-text-color, 40%);
          padding-left: 0.8rem;
          font-style: italic;
        }

        .ProseMirror {
          min-height: 200px;
          padding: 20px;
          margin-bottom: 25px;
          // table
          table {
            tr td {
              border: 1px solid color-yiq($editor-bg) !important;
              color: lighten($button-text-color, 35%) !important;
              p {
                margin: 0;
                padding: 0;
                white-space: nowrap;
              }
            }
          }

          ul,
          ol {
            padding-left: 1.2em !important;
          }

          &.resize-cursor {
            cursor: col-resize;
          }
        }

        @for $i from 1 through 7 /* max-indent */ {
          $indent-margin-base: 30px;

          *[data-indent='#{$i}'] {
            margin-left: $indent-margin-base * $i !important;
          }
        }
      }

      &__footer {
        border-top: 1px solid $editor-border-color;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        height: 45px;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 400;

        .character {
          flex: 0 50%;
          margin-left: 15px;
          color: $button-text-color;
          letter-spacing: -0.006em;
        }

        .upload {
          flex: 0 50%;
          margin-right: 15px;
          margin-bottom: 0px !important;
          text-align: right;
          color: $button-text-color;
          cursor: pointer;

          letter-spacing: -0.006em;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
