@infopiphany:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/projects/13732502/packages/npm/:_authToken=${GL_CI_TOKEN}
//gitlab.com/api/v4/packages/npm/:_authToken=${GL_CI_TOKEN}
