.nav-tabs-simple {
  border-bottom: 0;
}

.nav-tabs {
  position: relative;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs > li {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.nav-tabs .nav-link {
  color: grey;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active > svg {
  color: rgb(0, 120, 183);
}

.nav-tabs > li > a {
  display: block;
  border-radius: 0;
  padding: 13px 17px;
  margin-right: 0;
  font-weight: 600;
  letter-spacing: 0.06em;
  color: #2a2424;
  font-size: 10.5px;
  min-width: 70px;
  text-transform: uppercase;
  border-color: transparent;
  position: relative;
  line-height: 1.7em;
}

.nav > li > a {
  padding: 10px 15px;
}

.nav-tabs > li > a.active:after,
.nav-tabs > li > a:hover:after {
  height: 3px;
}

.nav-tabs > li > a:after {
  position: absolute;
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
  -webkit-backface-visibility: hidden;
  width: 100%;
  display: block;
  background-color: rgb(0, 120, 183);
  height: 0;
  content: '';
  left: 0;
  z-index: 125;
  top: 100%;
}
