// Make sure to group variables.
// Define non-bootstrap variables here

// Lightness can jump at ~8% when the difference is 100%
// Lightness can jump at ~6% when the difference is 50%

$blue-50: #f6fafe;
$blue-100: #e4f0fb;
$blue-200: #b8d3f4;
$blue-300: #71a7ea;
$blue-400: #4185d8;
$blue-500: #176ed9;
$blue-600: #1460bd;
$blue-700: #1152a2;
$blue-800: #0e4486;
$blue-900: #0b3669; // Chase
$blue-950: #072346;

$facebook: #3b5999 !default;
$twitter: #1da1f2 !default;
$google-plus: #dd4b39 !default;
$instagram: #e4405f !default;
$pinterest: #bd081c !default;
$youtube: #cd201f !default;
$slack: #3aaf85 !default;
$dribbble: #ea4c89 !default;
$github: #222222 !default;

$mood-blue: #0078b7;
$primary: $mood-blue !default;
$secondary: #596275 !default;

$focus-input-danger: tomato;
$focus-input-warning: #f1b544;
$focus-input-success: #42b983;
$focus-input-primary: $primary;

// font
$font-color: #58585d;

// labels
$label-font-color: #353f4d;

// placeholder
$placeholder-font-size: 0.8rem;
$placeholder-font-weight: 500;
$placeholder-color: #787b7c;

// table custom variables
$table-header-font-size: 0.7rem;
$table-header-font-weight: 600;
$table-header-font-color: #4a4a4a;
$table-header-background-color: #eee;
$table-header-padding: 0.7rem;
$table-header-text-align: left;

$table-td-padding: 1.2rem;
$table-td-font-size: 0.8rem;
$table-td-font-weight: 500;
$table-td-font-color: #212529;
$table-td-label-color: #4a4a4a;
$table-td-id-color: #4b4f50;
$table-hover-color: #d3eeff;
$table-border-bottom-color: #e6e6e6;

// sidebar custom variables
$sidebar-background-color: #fafafa;
$sidebar-icon-hover-color: $primary;
$sidebar-text-color: #181717;
$sidebar-icon-color: $primary;
$sidebar-burgermenu-color: $primary;
$sidebar-border-right-color: $primary;
$sidebar-text-active-color: #e6e6e6;

// tiers
$ipy-tier-one-background-color: #fff;
$ipy-tier-two-background-color: #f5f5fb;
$ipy-tier-three-background-color: #f5f5fb;
$ipy-tier-default-background-color: transparent;

$ipy-tier-one-text-color: #9d9ea3;
$ipy-tier-two-text-color: #9d9ea3;
$ipy-tier-three-text-color: #9d9ea3;

// input custom variables
$input-background-color: #fff;
$input-font-color: #343a40;
$input-readonly-font-weight: 500;

// input overrides
$input-placeholder-color: $placeholder-color;
$input-disabled-bg: rgb(245, 245, 245);
$input-disabled-border-color: #ccc;

// modal overrides
$modal-backdrop-bg: #172b4d !default;
$modal-header-border-color: transparent !default;
$modal-footer-border-color: transparent !default;
$modal-fade-transform: inherit !default;
$modal-show-transform: inherit !default;
$modal-transition: inherit !default;
$modal-scale-transform: inherit !default;

// buttons
$btn-create-font-size: 1.2rem;
$btn-default-border: rgba(6, 18, 35, 0.17);
$btn-default-font-color: #353f4d;

// card shadow
$box-shadow: 0 1px 2px 0 rgba(33, 33, 33, 0.14), 0 0 1px 0 rgba(0, 0, 0, 0.14);

$brand-colors: () !default;
$brand-colors: map-merge(
  (
    'facebook': $facebook,
    'twitter': $twitter,
    'google-plus': $google-plus,
    'instagram': $instagram,
    'pinterest': $pinterest,
    'youtube': $youtube,
    'slack': $slack,
    'dribbble': $dribbble,
    'github': $github,
  ),
  $brand-colors
);

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'default': #fff,
  ),
  $theme-colors
);
