@mixin ipy-line-height-1 {
  line-height: 1 !important;
}

@mixin ipy-line-height-2 {
  line-height: 1.1 !important;
}

@mixin ipy-line-height-3 {
  line-height: 1.2 !important;
}

@mixin ipy-line-height-4 {
  line-height: 1.3 !important;
}

@mixin ipy-line-height-5 {
  line-height: 1.4 !important;
}

@mixin ipy-line-height-6 {
  line-height: 1.5 !important;
}

@mixin ipy-line-height-7 {
  line-height: 1.6 !important;
}

@mixin ipy-line-height-8 {
  line-height: 1.7 !important;
}

@mixin ipy-line-height-9 {
  line-height: 1.8 !important;
}
